{% extends 'base.html.twig' %}

{% block title %}Emprunts{% endblock %}

{% block body %}
<div class="livres_emprunts">
<h1>Liste des emprunts</h1>
{% if is_granted('ROLE_ADMIN') %}
    <div class="row">
        <div class="col-md-6 bloc_btn_direct_right">
            <a href="{{path('emprunt_despasser')}}" id="liste_depasser" type="button" class="btn btn-outline-danger ">Empruntés dépassée la date de retour</a>
        </div>
        <div class="col-md-6 bloc_btn_direct_right">
            <a href="{{path('add_emprunt')}}"  id="add_emprunt"  class="btn btn-info btn_right">Ajouter une emprunt</a>
        </div>
    </div>
{% endif %}
    <table class="table table-striped">
        <thead>
            <th>Titre</th>
           {% if is_granted('ROLE_ADMIN') %} 
                <th>Adhérant</th>
            {% endif %}
            <th>Date de debut</th>
            <th>date de fin</th>
            <th>action</th>
        </thead>
        <tbody>
            {% for emprunt in emprunts %}
            
                <tr id="emprunt_{{emprunt.id}}">
                    <td>{{ emprunt.livre.titre }}</td>
                    {% if is_granted('ROLE_ADMIN') %} 
                        <td>{{ emprunt.user.Email }}</td>
                    {% endif %}                    
                    <td>{{ emprunt.DateSortie |date('Y-m-d') }}</td>
                    <td>{{ emprunt.DateRetour |date('Y-m-d')}}</td>
                    <td>
                        <a href="{{path('slug_show_livres',{'slug':emprunt.livre.SlugLivre} )}}" target="_blank"><i class="fa-solid fa-eye"></i> </a>
                    {% if is_granted('ROLE_ADMIN') %} 

                        <a href="javascript:void(0)" class="btn_supprimer_emprunt" data-path="{{path('supprime_emprunt')}}" data-id="{{emprunt.id}}"  ><i class="fa fa-trash"></i></a>
                        <a href="javascript:void(0)" id="emprunt_recuperer" data-id="{{emprunt.id}}" >Récupérer</a>
                    {% endif %}
                    </td>                    
                </tr>            
            {% endfor %}
        </tbody>
    </table>
    <input hidden value="{{path('emprunt_recuperer')}}" id="emprunt_recuperer_url">
</div>
{% endblock %}
