{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="livres_index">
<a href="{{path('add_livres')}}" class="btn btn-outline-primary ajouter_livre btn_right">Ajouter un livre</a>
        <table class="table table-striped">
            <thead>
                <th>Title</th>
                <th>description</th>
                <th>Date de parution</th>
                <th>date d'ajout</th>
                <th>auteurs</th>
                <th>action</th>
            </thead>
            <tbody>
                {% for livre in livres %}
                    <tr id="livre_{{livre.id}}">
                        <td>{{ livre.titre }}</td>
                        <td>{{ livre.description |slice(0, 200) }}</td>
                        <td>{{ livre.DateSortie |date('Y-m-d') }}</td>
                        <td>{{ livre.DateAjout |date('Y-m-d') }}</td>
                        <td>{{ livre.auteurs.nom }}</td>
                        <td>
                            <a href="{{path('edit_livres',{id:livre.id})}}" ><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="javascript:void(0)" class="btn_supprimer" data-path="{{path('supprime_livres')}}" data-id="{{livre.id}}"  ><i class="fa fa-trash"></i></a>
                        </td>
                     
                    </tr>
                {% endfor %}
            </tbody>
        </table>

</div>

{% endblock %}
