    {% for livre in livres %}
            <div class="col-md-3">
                <a href="{{path('slug_show_livres',{slug:livre.SlugLivre})}}" class="lien_livre">
                    <div class="card" >
                        <img class="card-img-top cover_livre_index" src="{{ asset('uploads/cover/' ~ livre.PathCover )  }}" alt="image de livre">
                        <div class="card-body body_card_index">
                            <h5 class="card-title">{{livre.titre}}</h5>
                            <p class="card-text">{{livre.description |slice(0, 100) }}</p>
                        </div>
                        <div class="auteur_bloc_home">
                            <h2 class="auteur_name_slug">
                                Auteur : <a href="{{path('livre_auteur',{id:livre.Auteurs.id})}}">{{livre.Auteurs.nom}}</a>
                            </h2> 
                        </div>
                    </div>
                </a>
            </div>
    {% endfor %}